.search {
  margin-top: 2rem;
}

.searchInput {
  display: flex;
  justify-content: center;
}

.searchInput input {
  background-color: whitesmoke;
  border: 0;
  height: 3rem;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-bottom: 0.1rem solid gray;
}

input:focus {
  outline: none;
}

.searchResult {
  box-shadow: 0.3rem 0.5rem 0.5rem black;
  align-items: center;
  margin: 0 auto;
  width: 26rem;
  max-height: 20rem;
  background-color: whitesmoke;
  overflow: hidden;
  overflow-y: auto;
}
